// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/css3";
@import "animation";

@import "keyframes";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

// ---------------------------------------------------------------------------
// Colors 
$off-white: #FFFFF6;
$darker-grey: #111;
$dark-grey: #404040;
$yellow: #FFC02D;
$pale-yellow: #FFD067;
$aqua: #60BFB5;
$dark: #181619;

$pale-blue: #88C7F4;
$light-blue: #1C3A93;
$mid-blue: #1398CC;
$dark-blue: #040917;
$red: #FF1F4C;
$pale-orange: #F06B50;
$light-grey: #333;
$white: #fff;

$header-background: $darker-grey;
$header-highlight-background: $dark-grey;
$header-font: $off-white;
$header-link-hover: $light-blue;
$index-highlight: $light-blue;
$primary-background: $off-white;

// $primary-font-family: 'Lato', sans-serif;
$primary-font-family: 'proxima-nova-1', sans-serif;
$secondary-font-family: 'proxima-nova-1', sans-serif;
$header-font-family: 'proxima-nova-1', sans-serif;

@import "typography";

// ---------------------------------------------------------------------------
// Layout

body {
	background: $header-background; 
	font-family: $primary-font-family;
	color: $dark-grey;
	font-weight: 400;
}

.container {
  @include container;
}

section {

	& section {
		padding-top: 0px;	
	}
}

a {
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in);

	border-bottom: 1px solid rgba(0, 0, 0, .1);
	color: $light-blue;
	font-weight: 400;
	text-decoration: none;
	padding-bottom: 1px;

	&:hover {
		border-bottom: 1px solid $red;
	}
}

ul li {
	margin-bottom: 10px;
}

@import "header";
