// ---------------------------------------------------------------------------
// Header style

$header-height: 100px;

@mixin global-header($text-color) {

	font-family: $header-font-family;
	font-weight: 700;
	height: $header-height;
	margin-bottom: 80px;
	padding-top: 30px;
	position: relative;
	width: 100%;
	top: 0;

	.container {
		height: 100%
	}

	#logo {
		@include span-columns(3, 12);

		h1 a {
			color: $text-color;
			font-family: $header-font-family;
			font-size: 45px !important;
			font-weight: bold;
			letter-spacing: -3px;
			line-height: 2 !important;

			strong {
				font-weight: bold;
			}
		}
	}

	#global-navigation {
		@include prefix(1);
		@include span-columns(5 omega, 12);
		color: $header-font;

		ul li {
			float: left;
			height: $header-height;
			text-align: center;
			width: 120px;

			a {
				@include transition-duration(0.4s);
				@include transition-timing-function(ease-in);
				border: none;

				&.incomplete {
					text-decoration: line-through;
					&:hover {
						border: none;
						background-color: $red;
					}
				}

				color: $text-color;
				cursor: pointer;
				display: block;
				font-family: $header-font-family;
				font-size: 20px;
				font-weight: 300;
				margin-top: 33px;
				padding: 5px 0;

				&:hover {
					background-color: $header-link-hover;
					border: none;
					color: $off-white;
				}
			}
		}
	}
}

#global-header-dark {
	@include global-header($off-white);
}

#global-header-light {
	@include global-header(lighten($dark-blue, 20%));
}