// ---------------------------------------------------------------------------
// Typography

strong {
	font-weight: 400;
}
%heading {
	font-family: $header-font-family;
	text-rendering: optimizeLegibility;
	letter-spacing: -1px;
	font-weight: bold;
}

h1 {
	@extend %heading;
	font-size: 60px;
	font-weight: 300;
}

h2 {
	@extend %heading;
	font-size: 55px;
	line-height: 1.4;
	margin-bottom: 10px;
}

h3 {
	@extend %heading;
	font-size: 32px;
}

p {
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 25px;

	small {
		font-size: 12px;
	}
}

footer {
	height: 135px;
	color: $off-white;
}