// ---------------------------------------------------------------------------
// Imports

@import "base";

// ---------------------------------------------------------------------------
// Specific styles for index

section#masthead {
	background: url("/assets/bg1.jpg");
	background-position: 50% 40%;
	background-size: 1920px;
	color: $header-font;
	font-family: $header-font-family;
	line-height: 1;

	hgroup#hello {
		@include transition(all 200ms ease-in-out);
		position: absolute;
		top: 30%;
		-webkit-font-smoothing: antialiased;

		& > * {
			letter-spacing: -1px;
			margin-bottom: 3px;
			padding: 4px 8px 4px 8px;
		}

		h1 {
			background-color: none;
			color: $off-white;
			font-size: 100px;
			font-weight: bold;
			letter-spacing: -5px;
			line-height: 0.8;
		}

		h2 {
			background-color: rgba(0,0,0,0.8);
			font-size: 32px;
			font-weight: 200;
			line-height: 1;
			margin-left: 10px;
			width: 310px;

			&.sub {
				background-color: rgba(0,0,0,0.8);
				font-size: 24px;
				font-weight: 100;
				width: 525px;
			}
		}

		h3 a {
			@include transition(all 0.3s cubic-bezier(0,0,0.25,1));
			background-color: $index-highlight;
			color: white;
			display: inline-block; 
			font-size: 24px;
			font-weight: 300;
			margin-right: 20px;
			margin-top: 20px;
			padding: 5px 10px;

			&:hover {
				background-color: white;
				border: none;
				color: darken($index-highlight, 25%);
			}
		}

		&.in {
			h1 { @include animation(masthead-intro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal) }
			h2 { @include animation(masthead-intro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal) }
			h2.sub { @include animation(masthead-intro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal) }
			h3 { @include animation(masthead-intro 1.7s cubic-bezier(1, 0, 0, 1) 0s 1 normal) }
		}

		&.out {
			h1 { @include animation(masthead-outro 0.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards) }
			h2 { @include animation(masthead-outro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards) }
			h2.sub { @include animation(masthead-outro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards) }
			h3 { @include animation(masthead-outro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards) }
		}
	}
}

#projects {
	background: #0a0a0a;
	padding-bottom: 60px;

	.proj-block {
		@include span-columns(6, 12);
		cursor: pointer;
		margin-top: 15px;
		position: relative;

		img {
			width: 100%;
		}
	}

	.omega {
		@include omega;
	}

	span.info {
		@include transition(opacity 0.37s cubic-bezier(0,0,0.25,1));
		background-color: rgba(0, 0, 0, 0.85);
		display: block;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;

		hgroup  {
			color: white;
			font-family: $header-font-family;
			padding-top: 25%;

			h3 {
				font-size: 35px;
			}

			h4 {
				font-size: 24px;
				font-weight: 200;
				line-height: 2;
			}

			h5 {
				font-size: 18px;
				font-weight: 200;
			}
		}	

		&:hover {
			opacity: 1;
		}
	}
}


#about { 
	background: url("/assets/bg2.jpg");
	background-position: 50% 10%;

	h2 {
		@include span-columns(12,12);
		color: $darker-grey;
		font-size: 45px;
		font-weight: bold;
		letter-spacing: -2px;
		text-align: center;
	}	

	h3 {
		@include span-columns(12,12);
		color: $darker-grey;
		text-align: center;
		padding-bottom: 30px;
	}

	p {
		font-size: 20px;		
		font-weight: 300;
	}

	section {
		padding-bottom: 50px;
	}

	#selfie {
		@include span-columns(3, 12);
	}

	#basic {
		@include span-columns(9, 12);
		@include omega;
	}

	.portrait {
		@include border-radius(50%);
		background: url("/assets/self.jpg") no-repeat;
		background-size: 205px;
		background-position: 100% 140%;
		height: 200px;
		width: 200px;
	}

	#contact > section {
		text-align: center;
		@include span-columns(4, 12);

		img { margin-right: 5px; }
	}

	section#social {
		@include omega;
	}
}