header id="global-header#{section}"
  div.container
    div#logo
      h1 
        a href="/" 
          | carrotderek
    nav id="global-navigation"
      ul
        li 
          a.incomplete href="/projects" Projects
        li 
          a href="about" About
        li 
          a.incomplete href="#articles" Articles