
section#about
  == partial :header, locals: { section: '-light' }

  div.container
    h2 About

    section#selfie
      div.portrait
    section#basic
      p 
        | I'm 
        strong Derek Szeto, 
        | a 
        span#age
        |  year-old full-stack web developer based in Calgary, Canada. I currently work at 
        a href="http://www.istockphoto.com" iStockphoto
        |.
      p My philosophy is that good design is rooted in simpicity. In my profession, this applies to both my passion in developing flexible, clean code as well as intuitive user interfaces.

      p 
        | Download my 
        a href="/assets/resume.pdf" resume
        |.


    section#contact
      h3 Let's stay in touch

      section#email
        a href="mailto:derekszeto@gmail.com" title="Contact via e-mail" target="_blank"
          img src="/assets/mail.png"/
          |  derekszeto[at]gmail.com

      section#professional
        ul
          li
            a href="http://ca.linkedin.com/in/carrotderek" title="Connect with me on LinkedIn" target="_blank"
              img src="/assets/linkedin.png"/
              | LinkedIn

          li
            a href="http://github.com/carrotderek" title="My code on Github" target="_blank"
              img src="/assets/github.png"/
              | Github

      section#social
        ul
          li
            a href="http://plus.google.com/104660379873276679655" title="Google+ profile" target="_blank"
              img src="/assets/google+.png"
              | Google+

          li
            a href="http://www.twitter.com/carrotderek" title="My Twitter profile" target="_blank"
              img src="/assets/twitter.png"
              | Twitter

