section#masthead
  div.container
    hgroup#hello.in
      h1 carrotderek
      h2 
        | Portfolio of 
        strong Derek Szeto
        |,
      h2.sub a web applications developer based in Calgary, Canada

      h3 
        a href="/about" About