doctype html
html
  head
    title =@title
    meta name="author" content="derek szeto"
    /[if lt IE 9] script src="html5shim.googlecode.com/svn/trunk/html5.js"
    script type="text/javascript" src="//use.typekit.net/uib2uzc.js"
    script type="text/javascript"try{Typekit.load();}catch(e){}
    script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"
    script type="text/javascript" src="https://raw.github.com/flesler/jquery.scrollTo/master/jquery.scrollTo.min.js"
    script type="text/javascript" src="https://raw.github.com/flesler/jquery.localScroll/master/jquery.localScroll.min.js"
    script type="text/javascript" src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"

    script type="text/javascript" src="assets/app.js"
    link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
    link type="text/css" rel="stylesheet" href="assets/app.css"

  body
    ==yield