section#projects

  div.container
    header
      h1 Projects

    - @projects.each do |project|
      ruby:
        omega = 'omega' if project.id.modulo(2) == 0
      section class="proj-block #{omega}"
        img src="/assets/placeholder.jpg"
        span.info
          hgroup
            h3 = project.name
            h4 = project.technologies.join(', ')
            h5 = project.date
