@-moz-keyframes masthead-intro {
  /* line 4, ../sass/_keyframes.scss */
  0% {
    -moz-transform: scaley(0);
    transform: scaley(0);
  }

  /* line 7, ../sass/_keyframes.scss */
  100% {
    -moz-transform: scaley(1);
    transform: scaley(1);
  }
}

@-webkit-keyframes masthead-intro {
  /* line 4, ../sass/_keyframes.scss */
  0% {
    -webkit-transform: scaley(0);
    transform: scaley(0);
  }

  /* line 7, ../sass/_keyframes.scss */
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

@-o-keyframes masthead-intro {
  /* line 4, ../sass/_keyframes.scss */
  0% {
    -o-transform: scaley(0);
    transform: scaley(0);
  }

  /* line 7, ../sass/_keyframes.scss */
  100% {
    -o-transform: scaley(1);
    transform: scaley(1);
  }
}

@-ms-keyframes masthead-intro {
  /* line 4, ../sass/_keyframes.scss */
  0% {
    -ms-transform: scaley(0);
    transform: scaley(0);
  }

  /* line 7, ../sass/_keyframes.scss */
  100% {
    -ms-transform: scaley(1);
    transform: scaley(1);
  }
}

@keyframes masthead-intro {
  /* line 4, ../sass/_keyframes.scss */
  0% {
    transform: scaley(0);
  }

  /* line 7, ../sass/_keyframes.scss */
  100% {
    transform: scaley(1);
  }
}

@-moz-keyframes masthead-outro {
  /* line 13, ../sass/_keyframes.scss */
  0% {
    -moz-transform: scaley(1);
    transform: scaley(1);
  }

  /* line 16, ../sass/_keyframes.scss */
  100% {
    -moz-transform: scaley(0);
    transform: scaley(0);
  }
}

@-webkit-keyframes masthead-outro {
  /* line 13, ../sass/_keyframes.scss */
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  /* line 16, ../sass/_keyframes.scss */
  100% {
    -webkit-transform: scaley(0);
    transform: scaley(0);
  }
}

@-o-keyframes masthead-outro {
  /* line 13, ../sass/_keyframes.scss */
  0% {
    -o-transform: scaley(1);
    transform: scaley(1);
  }

  /* line 16, ../sass/_keyframes.scss */
  100% {
    -o-transform: scaley(0);
    transform: scaley(0);
  }
}

@-ms-keyframes masthead-outro {
  /* line 13, ../sass/_keyframes.scss */
  0% {
    -ms-transform: scaley(1);
    transform: scaley(1);
  }

  /* line 16, ../sass/_keyframes.scss */
  100% {
    -ms-transform: scaley(0);
    transform: scaley(0);
  }
}

@keyframes masthead-outro {
  /* line 13, ../sass/_keyframes.scss */
  0% {
    transform: scaley(1);
  }

  /* line 16, ../sass/_keyframes.scss */
  100% {
    transform: scaley(0);
  }
}

/* line 4, ../sass/_typography.scss */
strong {
  font-weight: 400;
}

/* line 7, ../sass/_typography.scss */
h1, h2, h3 {
  font-family: "proxima-nova-1", sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: -1px;
  font-weight: bold;
}

/* line 14, ../sass/_typography.scss */
h1 {
  font-size: 60px;
  font-weight: 300;
}

/* line 20, ../sass/_typography.scss */
h2 {
  font-size: 55px;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* line 27, ../sass/_typography.scss */
h3 {
  font-size: 32px;
}

/* line 32, ../sass/_typography.scss */
p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 25px;
}
/* line 37, ../sass/_typography.scss */
p small {
  font-size: 12px;
}

/* line 42, ../sass/_typography.scss */
footer {
  height: 135px;
  color: #fffff6;
}

/* line 56, ../sass/_base.scss */
body {
  background: #111111;
  font-family: "proxima-nova-1", sans-serif;
  color: #404040;
  font-weight: 400;
}

/* line 63, ../sass/_base.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 69, ../sass/_base.scss */
section section {
  padding-top: 0px;
}

/* line 74, ../sass/_base.scss */
a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #1c3a93;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 1px;
}
/* line 84, ../sass/_base.scss */
a:hover {
  border-bottom: 1px solid #ff1f4c;
}

/* line 89, ../sass/_base.scss */
ul li {
  margin-bottom: 10px;
}

/* line 81, ../sass/_header.scss */
#global-header-dark {
  font-family: "proxima-nova-1", sans-serif;
  font-weight: 700;
  height: 100px;
  margin-bottom: 80px;
  padding-top: 30px;
  position: relative;
  width: 100%;
  top: 0;
}
/* line 17, ../sass/_header.scss */
#global-header-dark .container {
  height: 100%;
}
/* line 21, ../sass/_header.scss */
#global-header-dark #logo {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 24, ../sass/_header.scss */
#global-header-dark #logo h1 a {
  color: #fffff6;
  font-family: "proxima-nova-1", sans-serif;
  font-size: 45px !important;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 2 !important;
}
/* line 32, ../sass/_header.scss */
#global-header-dark #logo h1 a strong {
  font-weight: bold;
}
/* line 38, ../sass/_header.scss */
#global-header-dark #global-navigation {
  padding-left: 8.47458%;
  width: 40.67797%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  color: #fffff6;
}
/* line 43, ../sass/_header.scss */
#global-header-dark #global-navigation ul li {
  float: left;
  height: 100px;
  text-align: center;
  width: 120px;
}
/* line 49, ../sass/_header.scss */
#global-header-dark #global-navigation ul li a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  border: none;
  color: #fffff6;
  cursor: pointer;
  display: block;
  font-family: "proxima-nova-1", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 33px;
  padding: 5px 0;
}
/* line 54, ../sass/_header.scss */
#global-header-dark #global-navigation ul li a.incomplete {
  text-decoration: line-through;
}
/* line 56, ../sass/_header.scss */
#global-header-dark #global-navigation ul li a.incomplete:hover {
  border: none;
  background-color: #ff1f4c;
}
/* line 71, ../sass/_header.scss */
#global-header-dark #global-navigation ul li a:hover {
  background-color: #1c3a93;
  border: none;
  color: #fffff6;
}

/* line 85, ../sass/_header.scss */
#global-header-light {
  font-family: "proxima-nova-1", sans-serif;
  font-weight: 700;
  height: 100px;
  margin-bottom: 80px;
  padding-top: 30px;
  position: relative;
  width: 100%;
  top: 0;
}
/* line 17, ../sass/_header.scss */
#global-header-light .container {
  height: 100%;
}
/* line 21, ../sass/_header.scss */
#global-header-light #logo {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 24, ../sass/_header.scss */
#global-header-light #logo h1 a {
  color: #132b6e;
  font-family: "proxima-nova-1", sans-serif;
  font-size: 45px !important;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 2 !important;
}
/* line 32, ../sass/_header.scss */
#global-header-light #logo h1 a strong {
  font-weight: bold;
}
/* line 38, ../sass/_header.scss */
#global-header-light #global-navigation {
  padding-left: 8.47458%;
  width: 40.67797%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  color: #fffff6;
}
/* line 43, ../sass/_header.scss */
#global-header-light #global-navigation ul li {
  float: left;
  height: 100px;
  text-align: center;
  width: 120px;
}
/* line 49, ../sass/_header.scss */
#global-header-light #global-navigation ul li a {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  border: none;
  color: #132b6e;
  cursor: pointer;
  display: block;
  font-family: "proxima-nova-1", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 33px;
  padding: 5px 0;
}
/* line 54, ../sass/_header.scss */
#global-header-light #global-navigation ul li a.incomplete {
  text-decoration: line-through;
}
/* line 56, ../sass/_header.scss */
#global-header-light #global-navigation ul li a.incomplete:hover {
  border: none;
  background-color: #ff1f4c;
}
/* line 71, ../sass/_header.scss */
#global-header-light #global-navigation ul li a:hover {
  background-color: #1c3a93;
  border: none;
  color: #fffff6;
}

/* line 9, ../sass/primary.scss */
section#masthead {
  background: url("/assets/bg1.jpg");
  background-position: 50% 40%;
  background-size: 1920px;
  color: #fffff6;
  font-family: "proxima-nova-1", sans-serif;
  line-height: 1;
}
/* line 17, ../sass/primary.scss */
section#masthead hgroup#hello {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: absolute;
  top: 30%;
  -webkit-font-smoothing: antialiased;
}
/* line 23, ../sass/primary.scss */
section#masthead hgroup#hello > * {
  letter-spacing: -1px;
  margin-bottom: 3px;
  padding: 4px 8px 4px 8px;
}
/* line 29, ../sass/primary.scss */
section#masthead hgroup#hello h1 {
  background-color: none;
  color: #fffff6;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 0.8;
}
/* line 38, ../sass/primary.scss */
section#masthead hgroup#hello h2 {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 32px;
  font-weight: 200;
  line-height: 1;
  margin-left: 10px;
  width: 310px;
}
/* line 46, ../sass/primary.scss */
section#masthead hgroup#hello h2.sub {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 100;
  width: 525px;
}
/* line 54, ../sass/primary.scss */
section#masthead hgroup#hello h3 a {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.25, 1);
  background-color: #1c3a93;
  color: white;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px 10px;
}
/* line 65, ../sass/primary.scss */
section#masthead hgroup#hello h3 a:hover {
  background-color: white;
  border: none;
  color: #081028;
}
/* line 73, ../sass/primary.scss */
section#masthead hgroup#hello.in h1 {
  -webkit-animation: masthead-intro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -moz-animation: masthead-intro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -ms-animation: masthead-intro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -o-animation: masthead-intro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  animation: masthead-intro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
}
/* line 74, ../sass/primary.scss */
section#masthead hgroup#hello.in h2 {
  -webkit-animation: masthead-intro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -moz-animation: masthead-intro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -ms-animation: masthead-intro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -o-animation: masthead-intro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  animation: masthead-intro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
}
/* line 75, ../sass/primary.scss */
section#masthead hgroup#hello.in h2.sub {
  -webkit-animation: masthead-intro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -moz-animation: masthead-intro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -ms-animation: masthead-intro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -o-animation: masthead-intro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  animation: masthead-intro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
}
/* line 76, ../sass/primary.scss */
section#masthead hgroup#hello.in h3 {
  -webkit-animation: masthead-intro 1.7s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -moz-animation: masthead-intro 1.7s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -ms-animation: masthead-intro 1.7s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  -o-animation: masthead-intro 1.7s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
  animation: masthead-intro 1.7s cubic-bezier(1, 0, 0, 1) 0s 1 normal;
}
/* line 80, ../sass/primary.scss */
section#masthead hgroup#hello.out h1 {
  -webkit-animation: masthead-outro 0.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -moz-animation: masthead-outro 0.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -ms-animation: masthead-outro 0.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -o-animation: masthead-outro 0.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  animation: masthead-outro 0.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
}
/* line 81, ../sass/primary.scss */
section#masthead hgroup#hello.out h2 {
  -webkit-animation: masthead-outro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -moz-animation: masthead-outro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -ms-animation: masthead-outro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -o-animation: masthead-outro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  animation: masthead-outro 0.6s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
}
/* line 82, ../sass/primary.scss */
section#masthead hgroup#hello.out h2.sub {
  -webkit-animation: masthead-outro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -moz-animation: masthead-outro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -ms-animation: masthead-outro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -o-animation: masthead-outro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  animation: masthead-outro 0.9s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
}
/* line 83, ../sass/primary.scss */
section#masthead hgroup#hello.out h3 {
  -webkit-animation: masthead-outro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -moz-animation: masthead-outro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -ms-animation: masthead-outro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  -o-animation: masthead-outro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
  animation: masthead-outro 1.3s cubic-bezier(1, 0, 0, 1) 0s 1 normal forwards;
}

/* line 88, ../sass/primary.scss */
#projects {
  background: #0a0a0a;
  padding-bottom: 60px;
}
/* line 92, ../sass/primary.scss */
#projects .proj-block {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  cursor: pointer;
  margin-top: 15px;
  position: relative;
}
/* line 98, ../sass/primary.scss */
#projects .proj-block img {
  width: 100%;
}
/* line 103, ../sass/primary.scss */
#projects .omega {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 107, ../sass/primary.scss */
#projects span.info {
  -webkit-transition: opacity 0.37s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: opacity 0.37s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: opacity 0.37s cubic-bezier(0, 0, 0.25, 1);
  transition: opacity 0.37s cubic-bezier(0, 0, 0.25, 1);
  background-color: rgba(0, 0, 0, 0.85);
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 119, ../sass/primary.scss */
#projects span.info hgroup {
  color: white;
  font-family: "proxima-nova-1", sans-serif;
  padding-top: 25%;
}
/* line 124, ../sass/primary.scss */
#projects span.info hgroup h3 {
  font-size: 35px;
}
/* line 128, ../sass/primary.scss */
#projects span.info hgroup h4 {
  font-size: 24px;
  font-weight: 200;
  line-height: 2;
}
/* line 134, ../sass/primary.scss */
#projects span.info hgroup h5 {
  font-size: 18px;
  font-weight: 200;
}
/* line 140, ../sass/primary.scss */
#projects span.info:hover {
  opacity: 1;
}

/* line 147, ../sass/primary.scss */
#about {
  background: url("/assets/bg2.jpg");
  background-position: 50% 10%;
}
/* line 151, ../sass/primary.scss */
#about h2 {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  color: #111111;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -2px;
  text-align: center;
}
/* line 160, ../sass/primary.scss */
#about h3 {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  color: #111111;
  text-align: center;
  padding-bottom: 30px;
}
/* line 167, ../sass/primary.scss */
#about p {
  font-size: 20px;
  font-weight: 300;
}
/* line 172, ../sass/primary.scss */
#about section {
  padding-bottom: 50px;
}
/* line 176, ../sass/primary.scss */
#about #selfie {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 180, ../sass/primary.scss */
#about #basic {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 185, ../sass/primary.scss */
#about .portrait {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url("/assets/self.jpg") no-repeat;
  background-size: 205px;
  background-position: 100% 140%;
  height: 200px;
  width: 200px;
}
/* line 194, ../sass/primary.scss */
#about #contact > section {
  text-align: center;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 198, ../sass/primary.scss */
#about #contact > section img {
  margin-right: 5px;
}
/* line 201, ../sass/primary.scss */
#about section#social {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
